{% extends 'layout.html.twig' %}

{% block title %}Inscription - Movie Rating{% endblock %}

{% block main %}
<div class="row justify-content-center mb-5">
  <div class="col-md-4">
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn btn-lg btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}
  </div>
</div>
{% endblock %}
